<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>jetX</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) want to access your location for live tracking</string>
	<key>UIAppFonts</key>
	<array>
		<string>itc-avant-garde-gothic-std-bold-589572c7e9955.otf</string>
		<string>itc-avant-garde-gothic-std-bold-condensed-5895705e8fe31.otf</string>
		<string>itc-avant-garde-gothic-std-bold-condensed-oblique-5895710fb8537.otf</string>
		<string>itc-avant-garde-gothic-std-bold-oblique-589573024abd6.otf</string>
		<string>itc-avant-garde-gothic-std-book-58957161d80eb.otf</string>
		<string>itc-avant-garde-gothic-std-book-condensed-5895704105b51.otf</string>
		<string>itc-avant-garde-gothic-std-book-condensed-oblique-589570ed92a2c.otf</string>
		<string>itc-avant-garde-gothic-std-book-oblique-589571c924212.otf</string>
		<string>itc-avant-garde-gothic-std-demi-589572a199962.otf</string>
		<string>itc-avant-garde-gothic-std-demi-condensed-589571f095e47.otf</string>
		<string>itc-avant-garde-gothic-std-demi-condensed-oblique-5895723d52f87.otf</string>
		<string>itc-avant-garde-gothic-std-extra-light-5895708744eb6.otf</string>
		<string>itc-avant-garde-gothic-std-extra-light-condensed-589570b606f66.otf</string>
		<string>itc-avant-garde-gothic-std-extra-light-oblique-5895712c301f0.otf</string>
		<string>itc-avant-garde-gothic-std-medium-condensed-5895720edc668.otf</string>
		<string>ITCAvantGardePro-Bk.ttf</string>
		<string>ITCAvantGardePro-Md.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
